<app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
</app-location>

<app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
</app-route>

<iron-ajax auto
          url="http://137.116.129.201/api/hotels"
          handle-as="json"
          last-response="{{hotelsList}}"></iron-ajax>

<iron-iconset name="review-score"
              src="https://assets.wego.com/image/sprite/reviewscore"
              icons="good fair poor"
              size="95">
</iron-iconset>

<div class="hotels-list">
<dom-repeat items="{{hotelsList}}" initialCount="10" targetFramerate="20">
  <template>
    <div class="hotel-card">

      <!-- side image -->
      <div class="hotel-card__image-container">
        <iron-image class="hotel-card__iron-image" preventLoad="true" preload src="{{item.image}}"></iron-image>
      </div>

      <!-- main body -->
      <div class="hotel-card__main-body">
        <div class="hotel-card__name">
          <strong>{{item.name}}</strong>
        </div>
        <div class="hotel-card__district">
          <template is="dom-repeat" items="[[_renderStars(item.stars)]]">
            <iron-image class="hotel-card__rating-star" fade src="https://assets.wego.com/image/upload/kabru/hstar.png"></iron-image>
          </template>
          {{item.district}}
        </div>
        <div>
          [[_roundUpDistance(item.distanceToCityCentre)]] km to city centre
        </div>
        <div class="hotel-card__score-container">
          <template is="dom-if" if="{{item.review.score}}">
            <div class="bubble-container">
              <iron-icon class="hotel-card__score-bubble" icon$="review-score:[[_renderScoreBubbleColour(item.review.score)]]"></iron-icon>
              <div class="hotel-card__score-bubble-text">{{item.review.score}}</div>
            </div>
          </template>
          <div>
            <div>
              [[_renderScoreSummary(item.review.score)]]
            </div>
            <div>
              [[_checkReviewsCountDefined(item.review.reviewsCount)]] Reviews
            </div>
          </div>
        </div>
      </div>

      <!-- pricing/currency -->
      <div class="hotel-card__price">
        <div>
          <small>S$</small>{{item.amount}}
        </div>
      </div>

    </div>
  </template>
</dom-repeat>
</div>
